<div class="row">

    <div class="col">
      <h1>*ngIf</h1>
      <hr>
      <div class="card text-white bg-success mb-3" style="width: 100%;">
        <div class="card-body">
          <h5 class="card-title">Success card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>

      <button class="btn btn-outline-success btn-block" type="button" name="button">Mostrar/Ocultar</button>

    </div>

    <div class="col">
      <h1>*ngFor</h1>
      <hr>
      <ul class="list-group">
        <li class="list-group-item list-group-item-success">Cras justo odio</li>
        <li class="list-group-item list-group-item-success">Dapibus ac facilisis in</li>
        <li class="list-group-item list-group-item-success">Morbi leo risus</li>
        <li class="list-group-item list-group-item-success">Porta ac consectetur ac</li>
        <li class="list-group-item list-group-item-success">Vestibulum at eros</li>
      </ul>

    </div>
</div>
